#send {
  width: auto;
}

.right {
  float: right;
}
.center,
#center {
  text-align: center;
}

.form-send-neo.center {
  padding: 0px 40px;
}

.header {
  background-color: rgba(12, 12, 14, 0.85);
      border: 1px solid #272727;
      border-radius: 20px;
      height: 120px;
      margin-top: 2%;
      padding: 10px;
      width: auto;
      -moz-box-shadow: inset 0 0 12px #000000;
      -webkit-box-shadow: inset 0 0 12px #000000;
      box-shadow: inset 0px 0px 12px #000000;
}

.ledger-header {
  background-color: rgba(12, 12, 14, 0.85);
      border: 1px solid #272727;
      border-radius: 20px;
      height: 112px;
      margin: 30px auto 0px;
      padding: 10px;
      width: 720px;
      -moz-box-shadow: inset 0 0 12px #000000;
      -webkit-box-shadow: inset 0 0 12px #000000;
      box-shadow: inset 0px 0px 12px #000000;
}
.neo-text {
  font-size: 36px;
  font-weight: 200;
  text-align: center;
  margin: 0px;
  line-height: 1.2em;
  span {
    color: #7ed321;
    font-weight: 900;
    font-size: 0.6em;
    line-height: 0.6em;
  }
}
.neo-text-ledger {
  font-size: 26px;
  font-weight: 200;
  text-align: center;
  margin: 0px 0px 0px 0px;
  line-height: 1.2em;
  span {
    color: #7ed321;
  }
}

.gas-text {
  font-size: 24px;
  font-weight: 200;
  text-align: center;
  margin: 0px;
  span {
    color: #9013fe;
  }
}

.gas-text-ledger {
  font-size: 22px;
  font-weight: 200;
  text-align: center;
  margin: 2px;
  span {
    color: #9013fe;
    font-weight: 900;
    font-size: 0.8em;
  }
}

.neo-balance {
  color: #9b9b9b;
  font-size: 13px;
  padding: 0;
  margin: 0;
  margin-left: 0;
  text-align: center;
  width: 100%;
}

.neo-logo {
  float: left;
  margin: 0 10px 10px 0;
}

.btc-logo {
  float: left;
  margin: 15px 10px 0px 0px;
}

.send-neo {
  margin: 50px auto 0;
  width: 720px;
  padding: 30px 30px 30px 30px;
  border: thick solid #222;
  background: rgba(12, 12, 14, 0.85);
  border-radius: 20px;
  box-shadow: 0px 10px 44px rgba(0, 0, 0, 0.45);
}

.settings-panel {
  margin: 50px 0 0 0;
  width: auto;
  padding: 30px 30px 30px 30px;
  border: thick solid #222;
  background: rgba(12, 12, 14, 0.85);
  border-radius: 20px;
  box-shadow: 0px 10px 44px rgba(0, 0, 0, 0.45);
}

.dash-panel {
  margin: 30px 0 0 0;
  width: auto;
  min-height: 360px;
  padding: 30px 30px 30px 30px;
  border: 3px solid #1d1b1d;
  background: rgba(12, 12, 14, 0.85);
  border-radius: 20px;
  box-shadow: 0px 10px 44px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: inset 0 0 12px #000000;
  -webkit-box-shadow: inset 0 0 12px #000000;
  box-shadow: inset 0px 0px 12px #000000;
}

.ledger-login-panel {
  margin: 30px auto 0px;
  width: auto;
  padding: 30px 30px 30px 30px;
  border: 3px solid #1d1b1d;
  background: rgba(12, 12, 14, 0.85);
  border-radius: 20px;
  box-shadow: 0px 10px 44px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: inset 0 0 12px #000000;
  -webkit-box-shadow: inset 0 0 12px #000000;
  box-shadow: inset 0px 0px 12px #000000;
}

.dash-chart-panel {
  margin: 10px 0 0 0;
width: auto;
padding: 30px 30px 30px 30px;
border: 3px solid #1d1b1d;
background: rgba(12, 12, 14, 0.85);
border-radius: 20px;
box-shadow: 0px 10px 44px rgba(0, 0, 0, 0.45);
-moz-box-shadow: inset 0 0 12px #000000;
-webkit-box-shadow: inset 0 0 12px #000000;
box-shadow: inset 0px 0px 12px #000000;
}

.send-neo-wide {
  margin: 50px auto 10px;
  width: 900px;
  padding: 0px 30px 30px 30px;
  border: thick solid #222;
  background: rgba(12, 12, 14, 0.85);
  border-radius: 20px;
  box-shadow: 0px 10px 44px rgba(0, 0, 0, 0.45);
}

.form-send-neo {
  display: inline-block;
  width: 100%;
  text-align: left;
  min-height: 25px;
  padding: 8px 25px;
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0.62);
  border: 1px solid rgba(126, 211, 33, 0.6);
  border-radius: 9px;
  outline: none;
}

.form-send-gas {
  display: inline-block;
  width: 100%;
  text-align: left;
  min-height: 25px;
  padding: 8px 25px;
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0.62);
  border: 1px solid rgba(144, 19, 254, 0.6);
  border-radius: 9px;
  outline: none;
}

.form-send-rpx {
  display: inline-block;
  width: 100%;
  text-align: left;
  min-height: 25px;
  padding: 8px 25px;
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0.62);
  border: 1px solid #8a1a1e;
  border-radius: 9px;
  outline: none;
}

.form-send-btc {
  display: inline-block;
  width: 100%;
  text-align: left;
  min-height: 25px;
  padding: 8px 25px;
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0.62);
  border: 1px solid #ffc000;
  border-radius: 9px;
  outline: none;
}

.form-send-dbc {
  display: inline-block;
  width: 100%;
  text-align: left;
  min-height: 25px;
  padding: 8px 25px;
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0.62);
  border: 1px solid #5bc1d4;
  border-radius: 9px;
  outline: none;
}

.form-send-qlc {
  display: inline-block;
  width: 100%;
  text-align: left;
  min-height: 25px;
  padding: 8px 25px;
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0.62);
  border: 1px solid #8233be;
  border-radius: 9px;
  outline: none;
}

.form-send-hp {
  display: inline-block;
  width: 100%;
  text-align: left;
  min-height: 25px;
  padding: 8px 25px;
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0.62);
  border: 1px solid #ffa6b6;
  border-radius: 9px;
  outline: none;
}

h1,
h2 {
  font-weight: 200;
  margin: 8px 0 20px 0px;
}

#sendAddress {
  margin-top: 5px;
}
#sendAmount {
  margin-top: 5px;
}

.clearboth {
  clear: both;
  display: block;
}

.send-notice {
  margin: 30px auto 0px;
  color: #646464;
  text-align: center;
  max-width: 640px;
}

.amount-dollar {
  position: absolute;
  left: 28px;
  top: 14px;
  font-size: 18px;
}

.amount-dollar-ledger {
  position: absolute;
  left: 28px;
  top: 36px;
  font-size: 18px;
}

.send-price {
  width: auto;
  border-radius: 6px;
  color: #fff;
  font-size: 18px;
  text-align: center;
}

.send-price-sm {
  font-size: 10px;
  color: #646464;
}

.scanqr-cam {
  position: fixed;
  top: 43%;
  left: 30%;
  font-size: 28px;
  z-index: 99;
  color: #2f2f2f;
  cursor: pointer;
}
.scanqr-cam:hover {
  color: #646464;
}

#transactionList {
  list-style-type: none;
  height: 360px;
  width: 100%;
  -webkit-padding-start: 0px;
  overflow-y: auto;
  -webkit-app-region: no-drag;
}

ul {
  list-style-type: none;
}

#transactionList li {
  padding: 10px 0px;
  border-bottom: thin solid #222;
  height: 40px;
}

#transactionList li:hover {
  background: rgba(0, 0, 0, 0.5);
}

.copyright {
  position: fixed;
  color: #353535;
  bottom: 9px;
  left: 2%;
  font-size: 10px;
}

webview {
  display: inline-flex;
  width: 100%;
  height: 640px;
}

#foo {
  width: 100%;
  height: 718px;
}

::-webkit-scrollbar {
  width: 0.4em;
}

::-webkit-scrollbar-thumb:window-inactive,
::-webkit-scrollbar-thumb {
  background: #2c2c2c;
}

.loading-exchange {
  position: fixed;
  top: 35%;
  left: 50%;
  font-size: 120px;
  text-align: center;
  width: 120px;
  height: 142px;
  z-index: -1;
  color: rgba(85, 85, 85, 0.37);
}

@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 5s linear infinite;
  -moz-animation: rotating 5s linear infinite;
  -ms-animation: rotating 5s linear infinite;
  -o-animation: rotating 5s linear infinite;
  animation: rotating 5s linear infinite;
}

#neo-price {
  -webkit-padding-start: 0px;
  font-size: 13px;
  margin: 10px 0px 0px 0px;
  display: block;
  text-align: center;
  position: fixed;
  top: 292px;
  left: 321px;
}

#neo-price li {
  width: 26%;
  float: left;
  padding: 4px;
  background: #212121;
  margin-right: 1%;
  border-radius: 4px;
  margin-top: -7px;
}

#gas-price li {
  width: 33%;
  float: left;
  padding: 0px;
}

#exchange-info {
  position: fixed;
  top: 0px;
  right: 0px;
  width: 840px;
  height: 758px;
  margin: 0px;
  padding: 0px;
}

#chart-container {
  min-width: 310px;
  max-width: 800px;
}

.com-soon {
  opacity: 0.5;
}

.exchange-glyph {
  margin-top: 0px;
  font-size: 36px;
  text-align: center;
  color: #333;
}

.glyphicon-trash {
  margin-left: -2px;
}

.up-65 {
  margin-top: -65px;
}

.sm-text {
  font-size: 12px;
  font-weight: 200;
  color: #777;
}

.changelly-logo-sm {
  background: url("../img/changelly-sm.png") no-repeat center;
  width: 100px;
  height: 34px;
  opacity: 0.6;
  margin-top: -8px;
}

.shapeshift-logo-sm {
  background: url("../img/shapeshift-sm.png") no-repeat center;
  width: 100px;
  height: 34px;
  opacity: 0.6;
  margin-top: -8px;
}

.progress-bar1 {
  background: url("../img/progress-bar1.png") no-repeat center;
  width: 500px;
  height: 17px;
  position: absolute;
  top: 23%;
  left: 35%;
  border: none;
  box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  -webkit-box-shadow: none;
  -webkit-transition: width 1s; /* For Safari 3.1 to 6.0 */
  transition: width 1s;
}

.progress-bar2 {
  background: url("../img/progress-bar2.png") no-repeat center;
  width: 500px;
  height: 17px;
  position: absolute;
  top: 23%;
  left: 35%;
  border: none;
  box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  -webkit-box-shadow: none;
  -webkit-transition: width 1s; /* For Safari 3.1 to 6.0 */
  transition: width 1s;
}

.progress-bar3 {
  background: url("../img/progress-bar3.png") no-repeat center;
  width: 500px;
  height: 17px;
  position: absolute;
  top: 23%;
  left: 35%;
  border: none;
  box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  -webkit-box-shadow: none;
  -webkit-transition: width 1s; /* For Safari 3.1 to 6.0 */
  transition: width 1s;
}

.progress-bar4 {
  background: url("../img/progress-bar4.png") no-repeat center;
  width: 500px;
  height: 17px;
  position: absolute;
  top: 23%;
  left: 35%;
  border: none;
  box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  -webkit-box-shadow: none;
  -webkit-transition: width 1s; /* For Safari 3.1 to 6.0 */
  transition: width 1s;
}

.progress-bar5 {
  background: url("../img/progress-bar5.png") no-repeat center;
  width: 500px;
  height: 17px;
  position: absolute;
  top: 23%;
  left: 35%;
  border: none;
  box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  -webkit-box-shadow: none;
  -webkit-transition: width 1s; /* For Safari 3.1 to 6.0 */
  transition: width 1s;
}

@keyframes fadeInLeft-ex {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.fadeInLeft-ex {
  animation-name: fadeInLeft-ex;
}

.prog-info {
  position: absolute;
  left: 26%;
  top: 26%;
  max-width: 715px;
}

.grey-out {
  opacity: 0.5;
}

.exch-logos {
  float: left;
  margin: 10px 15px 10px 10px;
}

.top-130 {
  margin-top: 130px;
}

.top-100 {
  margin-top: 100px;
}

.top-5 {
  margin-top: 5px;
}

.top-10 {
  margin-top: 10px;
}

.top-55 {
  margin-top: 55px;
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -5%, 0);
    transform: translate3d(0, -5%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -5%, 0);
    transform: translate3d(0, -5%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.neo-dash-price {
  font-size: 24px;
  margin: 5px 0px 20px 0px;
}

#dash-price-select {
  width: 100%;
  background: #333;
  height: 30px;
  font-size: 16px;
  border: 1px solid #555;
  margin-top: 0px;
}

.modal-alert {
  font-size: 20px;
  word-wrap: normal;
  color: #cecece;
}

.warning:hover > .dash-icon-bar,
.warning:hover > .icon-border {
  color: #ff0000;
  border-color: #ff0000;
}

.warning:hover {
  color: #ff0000;
  border-color: #ff0000;
}

.exchange-qr {
  border: 10px solid #d3d3d3;
  background-color: white;
  border-radius: 30px;
  padding: 20px 0px 12px;
  width: 210px;
  margin: 0px auto;
}

.ledger-nanos {
  background: url("../img/ledger_nano_s.png") no-repeat center;
  width: 420px;
  height: 120px;
  margin: 20px auto -50px;
  cursor: pointer;
}

.glyphicon-signal {
  margin-left: -6px;
}

#tradingview {
  height: 720px;
  width: 840px;
  -webkit-app-region: no-drag;
  position: absolute;
  top: 0px;
  left: 185px;
}

.trade-button {
  margin: 0px;
  float: right;
  padding: 4px 12px;
  background: #252525;
  color: #fff;
  font-size: 14px;
  text-align: center;
  font-weight: bold;
  max-width: 230px;
  border-radius: 4px;
  cursor: pointer;
  border: thin solid #3a3a3a;
}

.trade-button:hover {
  background: rgb(36, 180, 245);
  /* Old browsers */
  background: -moz-linear-gradient(
    top,
    rgba(36, 180, 245, 1) 0%,
    rgba(0, 32, 228, 1) 92%
  );
  /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(36, 180, 245, 1) 0%,
    rgba(0, 32, 228, 1) 92%
  );
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(36, 180, 245, 1) 0%,
    rgba(0, 32, 228, 1) 92%
  );
}

.ledger-logo {
  float: left;
  width: 22px;
  margin: 12px 20px 0px 15px;
}

.ledgerQRBox {
  border: 10px solid #d3d3d3;
  background-color: white;
  border-radius: 20px;
  padding: 15px;
  width: 95%;
  margin: 0px auto;
}

.ledger-address {
  display: inline-block;
      width: 100%;
      text-align: left;
      min-height: 25px;
      font-weight: 200;
      letter-spacing: 0.025em;
      padding: 8px 16px;
      font-size: 16px;
      background-color: rgba(0, 0, 0, 0.62);
      border: 3px solid #252525;
      border-radius: 9px;
      outline: none;
      -webkit-app-region: no-drag;
}

.marg-right-5 {
  margin-right: 5px;
}

.font-16 {
  font-size: 16px;
}

.pointer {
  cursor: pointer;
}

.support {
  font-size: 16px;
  clear: both;
  display: block;
  height: 320px;
  color: #999;
  overflow-y: auto;
}

.support-hov {
  opacity: 0.5;
  color: #555;
}

.support-hov:hover {
  opacity: 1;
  cursor: pointer;
}

#refreshTip {
  -webkit-animation: jump 1.5s ease 1s 1 normal;
  animation: jump 1.5s ease 1s 1 normal;
}

.support-qs {
  cursor: pointer;
  font-size: 12px;
  letter-spacing: 0.02em;
}

.support-qs:hover {
  color: #7fd422;
}

.dashnetwork {
  color: #555;
  position: fixed;
  bottom: 24px;
  left: 35px;
}

.donations {
  position: fixed;
  cursor: pointer;
}

.donations:hover {
  color: #6a46bb;
}
.left-25 {
  margin-left: 25px;
}
.left-45 {
  margin-left: 45px;
}
.font-16 {
  font-size: 16px;
}
.tokens {
  opacity: 0.9;
  cursor: pointer;
}
.tokens:hover {
  opacity: 1;
}

.add-token {
  font-size: 12px;
  text-align: center;
  opacity: 0.8;
}

.social-bar {
  clear: both;
  display: block;
  float: none;
  list-style-type: none;
  font-size: 14px;
  margin: 20px 0;
  width: 100%;
  padding: 0px;
}

.social-bar li {
  float: left;
  width: 30%;
  text-align: left;
  opacity: 0.4;
  padding: 0px;
  margin: 0px;
}

.social-bar li:hover {
  opacity: 1;
  cursor: pointer;
}

.token-soon {
  opacity: 0.3;
}
.container-fluid {
  overflow-x: hidden;
}

.dash-balance {
  display: block;
  color: #999;
}
.dash-price {
  color: #777;
  font-size: 1.1em;
}

.dash-portfolio h4 {
  font-size: 16px;
}

.asset-portfolio h4 {
  font-size: 16px;
}

.dash-portfolio {
  padding: 0px 7px;
  clear: both;
  display: block;
}

.asset-portfolio {
  margin: -10px 0px 0px -15px;
  position: relative;
}

.asset-doughnut {
  width: 300px;
    margin: 40px 0px 0px -20px;
}


.dash-hr {
  margin: 5px auto 5px;
  border-bottom: 1px solid rgba(34, 34, 34, 0.79);
  border-top: 2px solid rgba(0, 0, 0, 0.6);
  width: 80%;
}

.dash-hr-wide {
  margin: 5px auto 5px;
  border-bottom: 1px solid rgba(34, 34, 34, 0.79);
  border-top: 2px solid rgba(0, 0, 0, 0.6);
  width: 98%;
}

#ledger-copy-icon {
  font-size: 14px;
  margin-right: 5px;
  margin-bottom: 2px;
  padding: 8px;
  border-radius: 99px;
  border: thin solid #fff;
  opacity: 0.5;
}

#ledger-copy-icon:hover {
  opacity: 1;
  cursor: pointer;
}

.layout {
  width: 780px;
  float: none;
  max-height: 500px;
  overflow-y: hidden;
  display: block;
  margin: 20px 0px;
  padding: 0;
  cursor: pointer;
  -webkit-app-region: no-drag;
  position: absolute;
}

.col-5 {
  width: 18%;
  float: left;
  height: 110px;
  color: #9d9d9d;
  margin: 1%;
  padding: 15px 2px;
  font-size: 0.8em;
  border: 3px solid #1d1b1d;
  background: rgba(12, 12, 14, 0.85);
  border-radius: 20px;
  box-shadow: 0px 10px 44px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: inset 0 0 12px #000000;
  -webkit-box-shadow: inset 0 0 12px #000000;
  box-shadow: inset 0px 0px 12px #000000;
  cursor: pointer;
  -webkit-app-region: no-drag;
}

.col-5:hover {
  border: 3px solid #272627;
}

.col-5 h2 {
  margin: 12px;
  color: #353535;
  opacity: 0.6;
  cursor: pointer;
}

.col-5:hover h2 {
  opacity: 1;
}

.col-5-price {
  width: 18%;
  float: left;
  height: 68px;
  color: #9d9d9d;
  margin: 1%;
  padding: 15px 2px;
  font-size: 0.8em;
  border: 3px solid #1d1b1d;
  background: rgba(12, 12, 14, 0.85);
  border-radius: 20px;
  box-shadow: 0px 10px 44px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: inset 0 0 12px #000000;
  -webkit-box-shadow: inset 0 0 12px #000000;
  box-shadow: inset 0px 0px 12px #000000;
  margin-bottom: -10px;
  cursor: pointer;
}

.col-5-price:hover {
  border: 3px solid #272627;
}

.col-5-exchange {
  width: 18%;
  float: left;
  height: 68px;
  color: #9d9d9d;
  margin: 1%;
  padding: 15px 2px;
  font-size: 0.8em;
  border: 3px solid #1d1b1d;
  background: rgba(12, 12, 14, 0.85);
  border-radius: 20px;
  box-shadow: 0px 10px 44px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: inset 0 0 12px #000000;
  -webkit-box-shadow: inset 0 0 12px #000000;
  box-shadow: inset 0px 0px 12px #000000;
  cursor: pointer;
}

.col-5-exchange:hover {
  border: 3px solid #272627;
}

.col-3 {
  width: 32%;
      float: left;
      height: 110px;
      color: #9d9d9d;
      margin: .5%;
      padding: 15px 2px;
      font-size: 0.8em;
      border: 3px solid #1d1b1d;
      background: rgba(12, 12, 14, 0.85);
      border-radius: 20px;
      box-shadow: 0px 10px 44px rgba(0, 0, 0, 0.45);
      -moz-box-shadow: inset 0 0 12px #000000;
      -webkit-box-shadow: inset 0 0 12px #000000;
      box-shadow: inset 0px 0px 12px #000000;
      cursor: pointer;
      -webkit-app-region: no-drag;
}

.dotted {
  border-style: dashed;
  opacity: 0.6;
}

.dotted:hover {
  border-style: dashed;
}


.col-2 {
  width: 46%;
  float: left;
  height: 260px;
  color: #9d9d9d;
  margin: 10px 2%;
  padding: 20px 30px;
  font-size: 1.1em;
  border: 3px solid #1d1b1d;
  background: rgba(12, 12, 14, 0.85);
  border-radius: 20px;
  box-shadow: 0px 10px 44px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: inset 0 0 12px #000000;
  -webkit-box-shadow: inset 0 0 12px #000000;
  box-shadow: inset 0px 0px 12px #000000;
  cursor: pointer;
}

.col-2:hover {
  border: 3px solid #272627;
}

.token-icon-border {
  height: 32px;
  width: 32px;
  border-radius: 99px;
  text-align: center;
  margin: 10px auto;
  padding: 2px;
  border: 2px solid #fff;
  color: #fff;
  font-size: 15px;
  background: rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.comb-bal {
  display: block;
  font-size: 11px;
  color: #646464;
}

.bal-usd {
  margin-left: 5px;
  color: #646464;
  font-size: 0.7em;
  font-weight: 900;
}

.settings-padding {
  width: 98%;
  margin: 20px auto 0;
}

.block {
  display: block;
  clear: both;
}

.tokens-window {
  height: 360px;
      overflow-y: auto;
      overflow-x: hidden;
      font-size: 12px;
      color: #999;
}

.lineheight-up {
  line-height: 1.6em;
}

#preloader {
    width: 100%;
    height: 100%;
}

#gas-preloader {
    width: 100%;
    height: 100%;
}
#loader {
    display: block;
    width: 80px;
    height: 80px;
    margin: 0px auto 10px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #70a2e3;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

#gas-loader {
  display: block;
      position: relative;
      top: -35px;
      margin: -100px auto;
      z-index: 99;
      width: 122px;
      height: 122px;
      border-radius: 50%;
      border: 10px solid rgba(0, 0, 0, 0.5);
      border-top-color: #7054e3;
      -webkit-animation: spin 5s linear infinite;
      animation: spin 5s linear infinite;
}
#gas-loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: transparent;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}

#gas-loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: transparent;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #7056e3;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #80b7ff;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.market-price {
  color: #7b7b7b;
font-size: 12px;
padding: 0px;
margin: 0px;
}


.dash-portfolio h3 {
  font-size: 17px;
  margin: 6px 0px;
  font-weight: 200;
  word-wrap: break-word;
  overflow: visible;
  color: #fff;
}

.asset-portfolio h3 {
  font-size: 14px;
  margin: 0px;
  font-weight: 200;
  word-wrap: break-word;
  overflow: visible;
  color: #fff;
}

.market-window {
  height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    font-size: 13px;
    color: #999;
}

.market-button {
  font-size: 10px;
      background: #333;
      color: #999;
      border: 1px solid #404040;
      border-radius: 3px;
}

.market h3 {
  margin: 0px;
}

.market-bar {
  padding: 0px;
}

.market-bar li {
  width: 32%;
      float: left;
      background: #1b1b1b;
      border: 1px solid #272727;
      border-radius: 2px;
      margin: 1px;
      text-align: center;
      padding: 3px;
}

.neo-price {color:#7ed321; font-size: 0.8em; font-weight: 900;}
.gas-price {color:#9013fe; font-size: 0.8em; font-weight: 900;}
.rpx-price {color:#980300; font-size: 0.8em; font-weight: 900;}
.dbc-price {color:#5ac1d4; font-size: 0.8em; font-weight: 900;}
.qlink-price {color:#ae00d6; font-size: 0.8em; font-weight: 900;}
.nex-price {color:#003fff; font-size: 0.8em; font-weight: 900;}
.hp-price {color:#ffa6b6; font-size: 0.8em; font-weight: 900;}
.btc-price {color:gold; font-size: 0.8em; font-weight: 900;}
.ltc-price {color:silver; font-size: 0.8em; font-weight: 900;}
.eth-price {color:grey; font-size: 0.8em; font-weight: 900;}
.lrc-price {color:#646464; font-size: 0.8em; font-weight: 900;}
.xmr-price {color:orange; font-size: 0.8em; font-weight: 900;}
.iota-price {color:grey; font-size: 0.8em; font-weight: 900;}

.rec-h3 {margin: 10px 0px 10px 50px;}

.ledger-dash-layout {
width: 840px;
position: absolute;
right: 0;
top: 0;
overflow: hidden;
}



* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.chart-text {
  /*font: 16px/1.4em "Montserrat", Arial, sans-serif;*/
  fill: #000;
  -moz-transform: translateY(0.25em);
  -ms-transform: translateY(0.25em);
  -webkit-transform: translateY(0.25em);
  transform: translateY(0.25em);
}

.chart-number {
  font-size: 0.6em;
  line-height: 1;
  text-anchor: middle;
  -moz-transform: translateY(-0.25em);
  -ms-transform: translateY(-0.25em);
  -webkit-transform: translateY(-0.25em);
  transform: translateY(-0.25em);
}

.chart-label {
  font-size: 0.2em;
  text-transform: uppercase;
  text-anchor: middle;
  -moz-transform: translateY(0.7em);
  -ms-transform: translateY(0.7em);
  -webkit-transform: translateY(0.7em);
  transform: translateY(0.7em);
}

figure {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin-left: -15px;
  margin-right: -15px;
}

@media (min-width: 768px) {
  figure {
    flex-direction: row;
  }
}

.figure-content,
.figure-key {
  flex: 1;
  padding-left: 15px;
  padding-right: 15px;
  align-self: center;
}

.figure-content svg {
  height: auto;
}

.figure-key {
  min-width: calc(8 / 12);
}

.figure-key [class*="shape-"] {
  margin-right: 6px;
}

.figure-key-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.figure-key-list li {
  margin: 0 0 8px;
  padding: 0;
}

.shape-circle {
  display: inline-block;
  vertical-align: middle;
  width: 32px;
  height: 32px;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
}

.shape-fuschia {
  background-color: #ce4b99;
}

.shape-lemon-lime {
  background-color: #b1c94e;
}

.shape-blue {
  background-color: #377bbc;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}


.login-copyright {
  position: fixed;
    bottom: 2%;
    left: 42%;
    color: #3a3a3a;
}

.accord-title {
  font-size: 18px;
  margin-bottom: 5px;
  padding: 10px 0px;
  border-bottom: 1px solid #232223;
    color: #fff;
}

.accord-body {
  margin: 30px 0px 30px 0px;
}

.accord-title:hover {
  color: #7ed321;
}
.help:hover  {color: #fff;}

.help {
  position: fixed;
  top: 10px;
  right: 10px;
  font-size: 14px;
  cursor: help;
}


.mnemonic {
  display: inline;
  float: left;
  padding-left: 20px;
  max-width: 200px;
}

.menu-accord {
  margin: 0px 0px 0px 0px;
  padding: 10px;
  height: 100px;
}

.menu-accord-li {
  margin: 15px 0px 10px 0px;
}

.menu-accord-item {
  cursor: pointer;
  margin: 10px 0px 10px 58px;
  font-size: 16px;
  color: #999;
}

.menu-accord-item:hover {
  color: #fff;
}

.float-left {
  float: left;
}

.margin-10 {
  margin: 10px 0px 0px 10px;
  clear: both;
  display: block;
  min-height: 32px;
}

a:focus, a:hover, a:active {
  color: #fff;
  text-decoration: none;
}

.port-logo-col {
  width: 30%;
    float: left;
    padding-left: 10px;
}

.port-price-col {
  width: 70%;
  float: right;
}
