.icon-cell {
  float: left;
  width: 108px;
  text-align: center;
  font-size: 13px;
  color: #fff;
  padding: 4px;
  opacity: 0.25;
}

.icon-cell:hover {
  opacity: 0.5;
  cursor: pointer;
}

.icon-bar {
  width: 324px;
  margin: 0px auto;
}
